<header>
  header
</header>
<div class="sidebar">
  <ul class="list-group list-group-flush">
    <a class="list-group-item p-3"> <i class="fa fa-home mr-2" aria-hidden="true"></i> Inicio</a>
    <a class="list-group-item p-3"> <i class="fa fa-file mr-2" aria-hidden="true"></i> Documentos</a>
  </ul>
</div>
<div class="main">
  <h2 class="m-3">Documentos</h2>
    <tabset>
        <tab heading="Todos" id="tab1" style="border-right: 1px solid #999; border-left: 1px solid gray; border-bottom: 1px solid #999;">
            <app-documentos></app-documentos>
        </tab>
        <tab heading="Nuevos"></tab>
        <tab heading="En proceso"></tab>
        <tab heading="Firmados"></tab>
        <tab heading="Por Firmar"></tab>
      </tabset>
</div>
