<header class="d-flex">
  <div class="mr-auto" style="flex: 0 0 350px;">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i> </span>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-block">Subir Documento</button>
  </div>
</header>
<main>
  <ul class="list-group list-group-flush" *ngIf="documentos | async as documents">
    <li *ngFor="let documento of documents" class="list-group-item">
      {{ documento.name }}
    </li>
  </ul>
</main>
