$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

$primary-color-if: #1d2c68;

$row-text-color: #1b3266;

$text-color-1: #8d98b2;

$text-color-2: #9db8f2;

$background-color: #f3f5f7;

$black-color: #000000;

$white-color: #ffffff;

$title-color: #4D4D4D;

$status-1: #79CC21;

$status-2: #FCE067;

$status-3: #42D3FF;

$status-4: #A0E9FF;
